.formWrapper {
    max-width: 500px;
    margin: 0px auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 100%;
}
.formBlock {
    width: 100%;
}
.errorMessage {
    margin-top: 10px;
    color: rgb(243, 77, 77);
}